<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<style>
    a {
        cursor: pointer;
        padding: 10px 20px;
        color: white;
        background-color: darkgreen;
        text-decoration: none;
        margin: 10px;
    }

    .main {
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
        justify-content: center;
    }
    .form {
        text-align: center;
    }
    .mess {
        margin: 20px;
    }
    .error {
        color: red;
        font-weight: bold;
    }
</style>

<div class="main">
    <div class="link"><a href="/register">Registration</a></div>
    <div><a href="/users">Users list</a></div>
</div>
<div class="form">
    <form action="/" method="post">
        <label>username:</label>
        <input type="text" name="username">
        <label>password:</label>
        <input type="text" name="password">
        <input type="submit" value="Send">
    </form>

    {{#if message}}
        <div class="error">{{message}}</div>

        <div class="mess"><a href="/register">Do you want to register?</a></div>
    {{/if}}
</div>
</body>
</html>
