<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<style>
    a {
        cursor: pointer;
        padding: 10px 20px;
        color: white;
        background-color: darkgreen;
        text-decoration: none;
        margin: 10px;
    }
    .main {
        margin: 20px;
    }

</style>

<div class="main"><a href="/">Go to main page</a></div>
<div>
    {{#each users}}
        <ul>
            <li>
                username: {{this.username}}. password: {{this.password}};
            </li>
        </ul>
    {{/each}}
</div>
</body>
</html>
